In [1]:
import os
import cv2
import numpy as np
import pandas as pd
from PIL import Image

In [2]:
SIGN_TEST_PATH = 'data/TrafficSigns'
FNAME1 = 'Test.csv'
SIGNAL_TEST_DAYIMGS = 'data/TrafficSignals/daySequence1/daySequence1/frames'
SIGNAL_TEST_NIGHTIMGS = 'data/TrafficSignals/nightSequence1/nightSequence1/frames'
SIGNAL_TEST_PATH1 = 'data/TrafficSignals/Annotations/daySequence1'
SIGNAL_TEST_PATH2 = 'data/TrafficSignals/Annotations/nightSequence1'
FNAME2 = 'frameAnnotationsBOX.csv'
DESTINATION_FOLDER = 'ProcessedData/Test'
DESTINATION_FOLDER_IMGS = 'ProcessedData/Test/Images'

In [3]:
for img in os.listdir(DESTINATION_FOLDER_IMGS):
    os.remove(os.path.join(DESTINATION_FOLDER_IMGS, img))

In [4]:
sign_annotations = pd.read_csv(os.path.join(SIGN_TEST_PATH, FNAME1))

In [5]:
sign_annotations

       Width  Height  Roi.X1  Roi.Y1  Roi.X2  Roi.Y2  ClassId            Path
0         53      54       6       5      48      49       16  Test/00000.png
1         42      45       5       5      36      40        1  Test/00001.png
2         48      52       6       6      43      47       38  Test/00002.png
3         27      29       5       5      22      24       33  Test/00003.png
4         60      57       5       5      55      52       11  Test/00004.png
...      ...     ...     ...     ...     ...     ...      ...             ...
12625     42      41       5       6      37      36       12  Test/12625.png
12626     50      51       6       5      45      46       33  Test/12626.png
12627     29      29       6       6      24      24        6  Test/12627.png
12628     48      49       5       6      43      44        7  Test/12628.png
12629     32      31       6       5      27      26       10  Test/12629.png

[12630 rows x 8 columns]

In [6]:
def changeFilename(x):
    return SIGN_TEST_PATH +'/'+ x.Path
    
sign_annotations['Path'] = sign_annotations.apply(changeFilename,axis=1)

In [7]:
sign_annotations

,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,Path
0,53,54,6,5,48,49,16,data/TrafficSigns/Test/00000.png
1,42,45,5,5,36,40,1,data/TrafficSigns/Test/00001.png
2,48,52,6,6,43,47,38,data/TrafficSigns/Test/00002.png
3,27,29,5,5,22,24,33,data/TrafficSigns/Test/00003.png
4,60,57,5,5,55,52,11,data/TrafficSigns/Test/00004.png
...,...,...,...,...,...,...,...,...
12625,42,41,5,6,37,36,12,data/TrafficSigns/Test/12625.png
12626,50,51,6,5,45,46,33,data/TrafficSigns/Test/12626.png
12627,29,29,6,6,24,24,6,data/TrafficSigns/Test/12627.png
12628,48,49,5,6,43,44,7,data/TrafficSigns/Test/12628.png
12629,32,31,6,5,27,26,10,data/TrafficSigns/Test/12629.png

In [8]:
sign_test_df =sign_annotations.groupby(['ClassId']).apply(lambda x:x.sample(50)).reset_index(drop=True)

In [9]:
sign_test_df

,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,Path
0,31,34,6,6,26,28,0,data/TrafficSigns/Test/04504.png
1,40,39,6,5,35,34,0,data/TrafficSigns/Test/11718.png
2,46,47,6,5,41,42,0,data/TrafficSigns/Test/11804.png
3,32,37,5,6,27,31,0,data/TrafficSigns/Test/04605.png
4,34,35,5,6,29,30,0,data/TrafficSigns/Test/03776.png
...,...,...,...,...,...,...,...,...
2145,30,31,5,5,25,26,42,data/TrafficSigns/Test/08205.png
2146,31,33,5,6,25,28,42,data/TrafficSigns/Test/06668.png
2147,29,29,6,6,24,24,42,data/TrafficSigns/Test/10583.png
2148,27,26,6,5,22,21,42,data/TrafficSigns/Test/10713.png
2149,31,31,5,5,26,26,42,data/TrafficSigns/Test/01338.png

In [10]:
for idx, row in sign_test_df.iterrows():
    image = Image.open(row['Path'])
    image.save(os.path.join(DESTINATION_FOLDER_IMGS, row['Path'].split('/')[-1]))

In [11]:
def chgFname(x):
    splitted = x.Path.split('/')[-1]
    return f'{DESTINATION_FOLDER_IMGS}/{splitted}'
    
sign_test_df['Path'] = sign_test_df.apply(chgFname,axis=1)

In [12]:
sign_test_df

,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,Path
0,31,34,6,6,26,28,0,ProcessedData/Test/Images/04504.png
1,40,39,6,5,35,34,0,ProcessedData/Test/Images/11718.png
2,46,47,6,5,41,42,0,ProcessedData/Test/Images/11804.png
3,32,37,5,6,27,31,0,ProcessedData/Test/Images/04605.png
4,34,35,5,6,29,30,0,ProcessedData/Test/Images/03776.png
...,...,...,...,...,...,...,...,...
2145,30,31,5,5,25,26,42,ProcessedData/Test/Images/08205.png
2146,31,33,5,6,25,28,42,ProcessedData/Test/Images/06668.png
2147,29,29,6,6,24,24,42,ProcessedData/Test/Images/10583.png
2148,27,26,6,5,22,21,42,ProcessedData/Test/Images/10713.png
2149,31,31,5,5,26,26,42,ProcessedData/Test/Images/01338.png

In [13]:
signal_annos_1 = pd.read_csv(os.path.join(SIGNAL_TEST_PATH1, FNAME2), sep = ";")
signal_annos_2 = pd.read_csv(os.path.join(SIGNAL_TEST_PATH2, FNAME2), sep = ";")

In [14]:
signal_annos = pd.concat([signal_annos_1, signal_annos_2], ignore_index = True)

In [15]:
signal_annos = signal_annos.drop(['Origin file', 'Origin frame number', 
                                              'Origin track', 'Origin track frame number'], axis = 1)

In [16]:
signal_annos

,Filename,Annotation tag,Upper left corner X,Upper left corner Y,Lower right corner X,Lower right corner Y
0,dayTest/daySequence1--00000.jpg,stop,706,478,718,500
1,dayTest/daySequence1--00001.jpg,stop,705,475,720,497
2,dayTest/daySequence1--00002.jpg,stop,707,476,719,494
3,dayTest/daySequence1--00005.jpg,stop,708,474,720,492
4,dayTest/daySequence1--00006.jpg,stop,707,470,722,492
...,...,...,...,...,...,...
26409,nightTest/nightSequence1--04860.jpg,go,873,86,1018,206
26410,nightTest/nightSequence1--04861.jpg,go,946,74,1091,188
26411,nightTest/nightSequence1--04862.jpg,go,1016,51,1161,177
26412,nightTest/nightSequence1--04863.jpg,go,1085,42,1245,159
26413,nightTest/nightSequence1--04864.jpg,go,1166,25,1280,154

In [17]:
tags = {'go': 43, 'warning': 44, 'stop': 45}

def changeAnnotation(x):
    if 'go' in x['Annotation tag']:
        return tags['go']
    elif 'warning' in x['Annotation tag']:
        return tags['warning']
    elif 'stop' in x['Annotation tag']:
        return tags['stop']
    
signal_annos['Annotation tag'] = signal_annos.apply(changeAnnotation,axis=1)

In [18]:
signal_test_df =signal_annos.groupby(['Annotation tag']).apply(lambda x:x.sample(50)).reset_index(drop=True)

In [19]:
signal_test_df

,Filename,Annotation tag,Upper left corner X,Upper left corner Y,Lower right corner X,Lower right corner Y
0,nightTest/nightSequence1--02485.jpg,43,657,392,667,416
1,nightTest/nightSequence1--02368.jpg,43,680,389,694,413
2,dayTest/daySequence1--03366.jpg,43,607,338,622,363
3,nightTest/nightSequence1--03445.jpg,43,905,363,921,402
4,dayTest/daySequence1--02839.jpg,43,811,123,859,198
...,...,...,...,...,...,...
145,dayTest/daySequence1--00069.jpg,45,764,446,776,464
146,dayTest/daySequence1--00705.jpg,45,744,435,762,462
147,nightTest/nightSequence1--03020.jpg,45,686,371,702,403
148,dayTest/daySequence1--00710.jpg,45,384,432,402,459
149,dayTest/daySequence1--00560.jpg,45,666,401,681,419

In [20]:
def chgFilename(x):
    filename = x.Filename    
    splitted = filename.split('/')
    clipName = splitted[-1].split('--')[0]
    if 'nightTest' in filename:
        return f'{SIGNAL_TEST_NIGHTIMGS}/{splitted[-1]}'
    else:
        return f'{SIGNAL_TEST_DAYIMGS}/{splitted[-1]}'

    
signal_test_df['Filename'] = signal_test_df.apply(chgFilename,axis=1)

In [21]:
signal_test_df

,Filename,Annotation tag,Upper left corner X,Upper left corner Y,Lower right corner X,Lower right corner Y
0,data/TrafficSignals/nightSequence1/nightSequen...,43,657,392,667,416
1,data/TrafficSignals/nightSequence1/nightSequen...,43,680,389,694,413
2,data/TrafficSignals/daySequence1/daySequence1/...,43,607,338,622,363
3,data/TrafficSignals/nightSequence1/nightSequen...,43,905,363,921,402
4,data/TrafficSignals/daySequence1/daySequence1/...,43,811,123,859,198
...,...,...,...,...,...,...
145,data/TrafficSignals/daySequence1/daySequence1/...,45,764,446,776,464
146,data/TrafficSignals/daySequence1/daySequence1/...,45,744,435,762,462
147,data/TrafficSignals/nightSequence1/nightSequen...,45,686,371,702,403
148,data/TrafficSignals/daySequence1/daySequence1/...,45,384,432,402,459
149,data/TrafficSignals/daySequence1/daySequence1/...,45,666,401,681,419

In [22]:
for idx, row in signal_test_df.iterrows():
    
    image = Image.open(row['Filename'])
    image = image.crop((row['Upper left corner X'] - 10, row['Upper left corner Y'] - 10, row['Lower right corner X'] + 10,
                        row['Lower right corner Y'] + 10))
    
    image.save(os.path.join(DESTINATION_FOLDER_IMGS, row['Filename'].split('/')[-1]))
    
    del image

In [23]:
signal_annos1 = pd.DataFrame(columns = ['Width', 'Height', 'Roi.X1', 'Roi.Y1', 'Roi.X2', 'Roi.Y2', 'ClassId', 'Path'])

for idx, row in signal_test_df.iterrows():
    img = Image.open(DESTINATION_FOLDER_IMGS + '/' + row['Filename'].split('/')[-1])
    w, h = img.size
    signal_annos1 = pd.DataFrame(np.insert(signal_annos1.values, 0, values = [w, h, 10, 10, 
                                row['Lower right corner X'] - row['Upper left corner X']+10, 
                                row['Lower right corner Y'] - row['Upper left corner Y']+10,
                                row['Annotation tag'], DESTINATION_FOLDER_IMGS + '/' + row['Filename'].split('/')[-1]], 
                                axis= 0),
                            columns = ['Width', 'Height', 'Roi.X1', 'Roi.Y1', 'Roi.X2', 'Roi.Y2', 'ClassId', 'Path'])

In [24]:
signal_annos1

,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,Path
0,35,38,10,10,25,28,45,ProcessedData/Test/Images/daySequence1--00560.jpg
1,38,47,10,10,28,37,45,ProcessedData/Test/Images/daySequence1--00710.jpg
2,36,52,10,10,26,42,45,ProcessedData/Test/Images/nightSequence1--0302...
3,38,47,10,10,28,37,45,ProcessedData/Test/Images/daySequence1--00705.jpg
4,32,38,10,10,22,28,45,ProcessedData/Test/Images/daySequence1--00069.jpg
...,...,...,...,...,...,...,...,...
145,68,95,10,10,58,85,43,ProcessedData/Test/Images/daySequence1--02839.jpg
146,36,59,10,10,26,49,43,ProcessedData/Test/Images/nightSequence1--0344...
147,35,45,10,10,25,35,43,ProcessedData/Test/Images/daySequence1--03366.jpg
148,34,44,10,10,24,34,43,ProcessedData/Test/Images/nightSequence1--0236...
149,30,44,10,10,20,34,43,ProcessedData/Test/Images/nightSequence1--0248...

In [25]:
test_dataset = pd.concat([sign_test_df, signal_annos1], ignore_index = True)

In [26]:
test_dataset

,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,Path
0,31,34,6,6,26,28,0,ProcessedData/Test/Images/04504.png
1,40,39,6,5,35,34,0,ProcessedData/Test/Images/11718.png
2,46,47,6,5,41,42,0,ProcessedData/Test/Images/11804.png
3,32,37,5,6,27,31,0,ProcessedData/Test/Images/04605.png
4,34,35,5,6,29,30,0,ProcessedData/Test/Images/03776.png
...,...,...,...,...,...,...,...,...
2295,68,95,10,10,58,85,43,ProcessedData/Test/Images/daySequence1--02839.jpg
2296,36,59,10,10,26,49,43,ProcessedData/Test/Images/nightSequence1--0344...
2297,35,45,10,10,25,35,43,ProcessedData/Test/Images/daySequence1--03366.jpg
2298,34,44,10,10,24,34,43,ProcessedData/Test/Images/nightSequence1--0236...
2299,30,44,10,10,20,34,43,ProcessedData/Test/Images/nightSequence1--0248...

In [27]:
test_dataset = test_dataset.sample(frac=1).reset_index(drop=True)

In [28]:
if os.path.exists(os.path.join(DESTINATION_FOLDER, 'frameAnnotationsBOX.csv')):
    os.remove(os.path.join(DESTINATION_FOLDER, 'frameAnnotationsBOX.csv'))

test_dataset.to_csv(os.path.join(DESTINATION_FOLDER, 'frameAnnotationsBOX.csv'), index = False)